<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  </head>
  <body>
  	<input type="text" ng-model="name" class="">
  	<h3>hello {{name}}!</h3>

  	<div ng-init="nameslist=['rajan','konar','spoilerz','lol','bhawhahahaha']">
  		<ul>
  			<li ng-repeat="name in nameslist">{{name}}</li>
  		</ul>
  	</div>
  	<div ng-controller="SimpleController">
  	<input type="text" ng-model="InputName" class="">
  		<ul>
  			<li ng-repeat="cname in customers | filter:InputName | orderBy:'firstname'">{{cname.firstname | lowercase }} - {{cname.country | uppercase}}</li>
  		</ul>
  	</div>
  	<script type="text/javascript">
  	function SimpleController($scope){
  		$scope.customers=[
	  		{firstname:'rajan',country:'India'},
	  		{firstname:'konar',country:'UAE'},
	  		{firstname:'raja',country:'USA'},
	  		{firstname:'raj',country:'UK'},
	  		{firstname:'ravi',country:'India'},
	  		{firstname:'sarfaraz',country:'India'},
	  		{firstname:'satish',country:'India'},
	  		{firstname:'ranjit',country:'India'},
	  		{firstname:'ashish',country:'Canada'},
	  		{firstname:'shanu',country:'Brazil'},
	  		{firstname:'muzzu',country:'Norway'},
	  		{firstname:'vijay',country:'India'},
	  		{firstname:'vinay',country:'India'},
	  		{firstname:'abhas',country:'Iran'},
	  		{firstname:'raju',country:'India'},
	  		{firstname:'amol',country:'South Africa'}
  		];
  	}
  	</script>
  </body>
</html>